<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Home',
        description: 'sitemap.xml を Google にクロールするようにシグナルを送るリンクを生成するフォームです。',
        ogp: {
            card: 'photo',
            account: 'Bredtn_1et',
            type: 'website',
            image: 'https://source.unsplash.com/FYC5OIhMPSI'
        },
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<main class="l-main">
    <section class="container py-5">
        <h1><i class="fa-solid fa-fw fa-home me-2" aria-hidden="true"></i><%= parameters.title %></h1>
        <p><%= parameters.description %></p>
        <form>
            <h2 class="mt-4 mb-3">入力</h2>
            <div class="row mb-3">
                <label for="sitemap-url" class="form-label col-12 col-lg-2"><code>sitemap.xml</code>のURL</label>
                <div class="col-12 col-lg-10">
                    <input type="url" id="sitemap-url" name="sitemap-url" class="form-control" placeholder="https://example.jp/sitemap.xml" aria-label="sitemap.xml の URL">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-lg-10 offset-lg-2">
                    <button type="button" class="btn btn-primary mb-3" id="generate"><i class="fa-solid fa-fw fa-arrow-rotate-right me-2" aria-hidden="true"></i>生成する</button>
                </div>
            </div>
        </form>
        <form>
            <h2 class="mt-4 mb-3">出力</h2>
            <div class="row">
                <label class="form-label col-12 col-lg-2">リンク</label>
                <div class="col-12 col-lg-10">
                    <a href="#" class="btn btn-success" id="signal-send-url" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-fw fa-signal me-2" aria-hidden="true"></i>Google へシグナルを送る</a>
                </div>
            </div>
        </form>
    </section>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>